@import './Navbar.scss';
@import './variables.scss';

.dark-mode,
.light-mode {
	transition: all 0.2s ease-in-out;
}

//! Dark Mode Setting

.dark-mode {
	background: $dark-body;

	span,
	a,
	p,
	h1,
	h2,
	h3 {
		color: $dark-primary-text-color;
	}

	//! --------Navbar.scss--------
	.navbar {
		background-color: $dark-bg;
		box-shadow: none !important;
	}
	.navbar-nav {
		background-color: $dark-bg;
	}
	.icon-button {
		background-color: $dark-bg-accent !important;
		&:hover {
			filter: brightness($dark-brightness) !important;
		}
	}
	svg {
		fill: $dark-primary-text-color !important;
	}
	.dropdown {
		background-color: $dark-bg !important;
		box-shadow: none !important;
	}
	.menu-item:hover {
		background-color: $dark-list-hover !important;
	}
	//! --------Navbar.scss--------
}
