@import './variables.scss';

$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;

body {
	background: $body;
	span,
	a,
	p,
	h1,
	h2,
	h3 {
		color: primary-text-color;
	}
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: $primary-text-color;
	text-decoration: none;
}

.navbar {
	height: $nav-size;
	background-color: $bg;
	padding: 0 1rem;
	// border: $border;
	-webkit-box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
	-moz-box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
	box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
	.navbar-nav {
		max-width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		background-color: $bg;
		.nav-item {
			width: calc(#{$nav-size} * 0.8);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			.icon-button {
				width: calc(#{$nav-size} * 0.5);
				height: calc(#{$nav-size} * 0.5);
				background-color: $bg-accent;
				border-radius: 50%;
				padding: 5px;
				margin: 2px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: filter 300ms;
				&:hover {
					filter: brightness($brightness);
				}
				svg {
					fill: $primary-text-color;
					width: 20px;
					height: 20px;
				}
			}

			.dropdown {
				position: absolute;
				top: 58px;
				width: 300px;
				transform: translateX(-45%);
				background-color: $bg;
				// border: $border;
				-webkit-box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
				-moz-box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
				box-shadow: 1px 3px 16px 0px rgba(166, 161, 166, 1);
				border-radius: $border-radius;
				padding: 1rem;
				overflow: hidden;
				transition: height $speed ease;
				.menu {
					width: 100%;
					overflow: visible;
					// .menu-item {
					// 	cursor: pointer;
					// 	height: 50px;
					// 	display: flex;
					// 	align-items: center;
					// 	border-radius: $border-radius;
					// 	transition: background $speed;
					// 	padding: 0.5rem;
					// 	&:hover {
					// 		background-color: $list-hover;
					// 	}
					// 	.icon-button {
					// 		margin-right: 0.5rem;
					// 	}
					// 	.icon-right {
					// 		margin-left: auto;
					// 		&:hover {
					// 			filter: none;
					// 		}
					// 		svg {
					// 			fill: $fill;
					// 			width: 20px;
					// 			height: 20px;
					// 		}
					// 	}
					// }
					// ! Backup--------------------------Flex---------------------------------
					.menu-item {
						cursor: pointer;
						height: 50px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						border-radius: $border-radius;
						transition: background $speed;
						padding: 0.5rem;
						&:hover {
							background-color: $list-hover;
						}
						.left-wrapper {
							display: flex;
							align-items: center;
							.icon-button {
								margin-right: 0.5rem;
							}
						}
						.right-wrapper {
							display: flex;
							align-items: center;
							.icon-right {
								display: flex;
								align-items: center;
								justify-content: center;
								&:hover {
									filter: none;
								}
								svg {
									fill: $fill;
									width: 20px;
									height: 20px;
								}
							}
						}
					}
					// ! Backup--------------------------Flex---------------------------------
				}
			}
		}
	}
}

.menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
}
.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all $speed ease-out;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all $speed ease-out;
}

.menu-secondary-enter {
	position: absolute;
	transform: translateX(110%);
}
.menu-secondary-enter-active {
	transform: translateX(0);
	transition: all $speed ease-out;
}
.menu-secondary-exit {
	position: absolute;
}
.menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all $speed ease-out;
}

// .navbar {
// 	padding: unset;
// 	.navbar-nav {
// 		position: absolute;
// 		display: table;
// 		margin-top: 60px;
// 		width: 100%;
// 		min-height: 100%;

// 		.nav-item {
// 			box-sizing: border-box;
// 			width: 100%;
// 			flex-direction: column;
// 			align-items: flex-start;
// 			padding: 0;
// 			padding: 1rem;
// 			z-index: 999;
// 			&:not(:last-child) {
// 				border-bottom: 1px solid #666;
// 			}
// 			.dropdown {
// 				position: unset;
// 				transform: none;
// 				top: unset;
// 				display: block;
// 				width: 100%;
// 				padding: 1rem 0;
// 				border-radius: unset;
// 				box-shadow: none;
// 				.menu {
// 					overflow: hidden;
// 					.menu-item {
// 						border-radius: unset;
// 						&:not(:last-child) {
// 							border-bottom: 1px solid #666;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
